<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ExampleSuite">
    <test name="ExampleTest">
        <groups>
            <run>
                <exclude name="regression"/>
                <!-- <include name="smoke"/>-->
            </run>
        </groups>
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="pom.Login"/>

        </classes>
    </test>
</suite>